/* top styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    padding: 0px;
    margin:  0px;
} */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* shared styles */
main>section {
    margin-top: 130px;
}

.flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    height: 64px;
    width: 180px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp2-btn {
    display: flex;
    justify-content: center;
}

.regular {
    font-size: 1rem;
    line-height: 26px;
}

.medium {
    font-size: 2.8rem;
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-size: 2.8rem;
    font-weight: 700;
}

.bold-orange {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}


/* colors used in */
.header-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}

.dark4 {
    color: #A1A1A1;
}

.dark5 {
    color: #D0D0D0;
}

.dark6 {
    color: #E7E7E7;
}

.dark7 {
    color: #F3F3F3;
}

/* navbar styles */
.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

.navbar,
.banner,
.facts-container,
.sponsor-content,
.sponsor-images {
    max-width: 1440px;
    margin: 0px auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

}

.nav-links {
    gap: 20px;
    flex-wrap: wrap;
}

/* Banner styles */
.banner {
    padding-bottom: 85px;
}

.banner-content {
    max-width: 850px;
    margin: 0px auto;
}

.banner-slogan {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 32px;
}

.banner-image-container {
    padding-top: 50px;
    justify-content: center;
}

.banner-image {
    width: 100%;
}

/* feature and teams realted styles */


.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-title {
    margin-bottom: 24px;
}

.feature-description {
    max-width: 542px;
    margin-bottom: 32px;
    line-height: 26px;
}

.our-features {
    margin-left: 76px;
    max-width: 537px;
}

/* Facts Section */

.facts-title {
    margin-bottom: 24px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 241.83px;
    width: 241.83px;
}

.card-text {
    font-size: 1.25rem;
    margin-top: 5px;
}

.card-number {
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Sponsor related styles */

.sponsor-title, .sponsor-description{
    max-width: 542px;
    text-align: center;
}
.sponsor-title{
    margin-top: 180px;
    margin-bottom: 24px;
}
.sponsor-content{
    place-items: center;
}
.sponsor-images{
    margin-top: 50px;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-image{
    filter: grayscale(100%);
}


/* small device */

@media screen and (max-width: 576px) {

    .navbar, .nav-links, .teams {
        flex-direction: column;
    }

    .team-image-container, 
    .facts-container,
    .facts-container {
        grid-template-columns:1fr;
    }
    
    .our-features {
        margin-left: 20px;
    }
    
    .card-container, 
    .sponsor-images{
        place-items: center;
        grid-template-columns: 1fr;
        gap: 24px;
    }
    .sponsor-images{
        gap: 50px;
    }
}

/* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 30px auto;
    }  

    .facts-container {
        grid-template-columns:1fr;
        gap: 24px;
    }

    .card-container{
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .sponsor-images{
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 75px;
    }

}